:root {
  --choco-light: #f6f2ea;
  --choco-medium: #c3aa70;
  --choco-dark: #322f1b;
  --black: #141414;
  --size: 75px;
}
* {
  box-sizing: border-box;
  margin: 0;
}

/* globals */
html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--black);
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  color: var(--choco-light);
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
::-webkit-scrollbar {
  width: 6px;
  background-color: var(--black);
}
::-webkit-scrollbar-thumb {
  background-color: var(--choco-medium);
  border-radius: 6px;
}
mark {
  color: var(--choco-medium);
  background: none;
  text-decoration: underline;
}
a {
  text-decoration: none;
}
p {
  font-size: 0.875rem;
}
h2 {
  font-size: 1.5rem;
}
.indicator{
  text-align: center;
  margin: 50px auto;
  padding: 0 16px;
}
#content{
  flex: 1;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}

.skip-to-content {
  position: fixed;
  z-index: 10;
  padding: 10px 16px;
  transform: translateY(-45px);
  border-radius: 4px;
  color: var(--choco-dark);
  background-color: var(--choco-medium);
  font-weight: 700;
  transition: 350ms;
}
.skip-to-content:focus {
  transform: translateY(0);
}
/* favorite button */
.favorite{
  position: fixed;
  bottom: 24px;
  right: 24px;
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 12px rgba(54, 54, 54, 0.8);
  display: grid;
  place-content: center;
  background-color: var(--choco-medium);
  cursor: pointer;
}
.favorite i{
  color: red;
  font-size: 1.5rem;
}
/* footer */
.footer {
  background-color: var(--choco-medium);
  padding: 20px 16px;
  text-align: center;
}

.footer__copyright {
  color: var(--choco-dark);
}


